<div class="body">
  <nav class="header">
    <div *ngFor="let sc of section" class="selected">
      <a href="#{{ sc.id }}">{{ sc.label }}/></a>
    </div>
  </nav>
  <div class="container">
    <div class="apresentation">
      <div class="object" id="start">
        <div class="line"></div>
        <div class="text">
          <label>Inicio/></label>
          <h1>Olá, me chamo Yuri Cavalcante</h1>
          <h2>Desenvolvedor full-stack</h2>
        </div>
      </div>
      <div class="dot">
        <div class="inner-dot"></div>
      </div>
      <div class="object" id="about">
        <div class="line"></div>
        <div class="text">
          <label>Sobre Mim/></label>
          <p>
            Meu nome é Yuri da Silva Cavalcante, tenho 23 anos, formado em
            ciência da computação pela Faculdade Pan Amazônica, e estudande de
            pós graduação MBA em Cybersecurity e cybercrimes. Sempre fui
            apaixonado pela area de desenvolvimento de software. Busco sempre
            estar informado e atualizado em relação as novas tecnologias e
            aprender nunca é demais.
          </p>
        </div>
      </div>
      <div class="dot">
        <div class="inner-dot"></div>
      </div>
      <div class="object" id="skills">
        <div class="line"></div>
        <div class="text">
          <label>Skills/></label>
          <div class="row row-cols-4">
            <div class="col col-lg-2" *ngFor="let sk of skills">
              <div class="card" (mouseenter)="onMouseEnter()">
                <img class="img" src="{{ sk.url }}" />
                <label>{{ sk.value }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dot">
        <div class="inner-dot"></div>
      </div>
      <div class="object" id="contacts">
        <div class="line"></div>
        <div class="text">
          <label>Contatos/></label>
          <div class="contacts" *ngFor="let ct of contacts">
            <i class="{{ ct.icon }}"></i>
            {{ ct.type }}:
            <a
              class="link"
              href="{{ ct.url }}"
              target="_blank"
              *ngIf="ct.url"
              >{{ ct.value }}</a
            >
            <a target="_blank" *ngIf="!ct.url">{{ ct.value }}</a>
          </div>
        </div>
      </div>
      <div class="dot">
        <div class="inner-dot"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="my-modal">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
