<div class="body">
  <nav class="header">
    <div *ngFor="let sc of section" class="selected">
      <a href="#{{ sc.id }}">{{ sc.label }}/></a>
    </div>
  </nav>
  <div class="container">
    <div class="apresentation">
      <div class="object" id="start">
        <div class="line"></div>
        <div class="text">
          <label>Inicio/></label>
          <h1>Olá, me chamo Yuri Cavalcante</h1>
          <h2>Desenvolvedor full-stack</h2>
        </div>
      </div>
      <div class="dot">
        <div class="inner-dot"></div>
      </div>
      <div class="object" id="about">
        <div class="line"></div>
        <div class="text">
          <label>Sobre Mim/></label>
          <p>
            Meu nome é Yuri da Silva Cavalcante, tenho 23 anos, formado em
            ciência da computação pela Faculdade Pan Amazônica, e estudande de
            pós graduação MBA em Cybersecurity e cybercrimes. Sempre fui
            apaixonado pela area de desenvolvimento de software. Busco sempre
            estar informado e atualizado em relação as novas tecnologias e
            aprender nunca é demais.
          </p>
        </div>
      </div>
      <div class="dot">
        <div class="inner-dot"></div>
      </div>
      <div class="object" id="skills">
        <div class="line"></div>
        <div class="text">
          <label>Skills/></label>
          <ul *ngFor="let sk of skills">
            <li>{{ sk }}</li>
          </ul>
        </div>
      </div>
      <div class="dot">
        <div class="inner-dot"></div>
      </div>
      <div class="object" id="contacts">
        <div class="line"></div>
        <div class="text">
          <label>Contatos/></label>
          <div class="contacts" *ngFor="let ct of contacts">
            <i class="{{ ct.icon }}"></i>
            {{ ct.type }}:
            <a
              class="link"
              href="{{ ct.url }}"
              target="_blank"
              *ngIf="ct.url"
              >{{ ct.value }}</a
            >
            <a target="_blank" *ngIf="!ct.url">{{ ct.value }}</a>
          </div>
        </div>
      </div>
      <div class="dot">
        <div class="inner-dot"></div>
      </div>
    </div>
  </div>
</div>
